@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">An Error has occured while processing your request</h1>
<h2 class="text-danger">Please contact the admin</h2>

