@model IEnumerable<ServiceDeskFYP.Models.Group>

@{
    ViewBag.Title = "Select Group";
}

<h2>Select Group</h2>

@if (ViewBag.ErrorMessage != null)
{
    <h5 style="color:red">@ViewBag.ErrorMessage</h5>
}
@if (ViewBag.SuccessMessage != null)
{
    <h5 style="color:blue">@ViewBag.SuccessMessage</h5>
}

@if (!Model.Any())
{
    <h4>Sorry, you are not a member of any group</h4>
}
else
{
    <form method="post" action="">
        <select name="groupid" class="form-control">
            @foreach (var item in Model)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>

        <br />

        <input type="submit" value="Select" class="btn btn-default" />
    </form>
}

