
@{
    ViewBag.Title = "Admin Tools";
}

<h2>Admin Tools</h2>

<a href="/admin/employees">Employee Management</a><br />
<a href="/admin/groups">Group Management</a><br />
<a href="/admin/clients">Client Management</a><br />
<a href="/admin/sla">SLA Policies</a><br />
<a href="/admin/categories">Set Categories</a>