
@{
    ViewBag.Title = "Admin Tools";
}

<h2>Admin Tools</h2>

@if (ViewBag.ErrorMessage != null)
{
    <h5 style="color:red">@ViewBag.ErrorMessage</h5>
}
@if (ViewBag.SuccessMessage != null)
{
    <h5 style="color:blue">@ViewBag.SuccessMessage</h5>
}

<a href="/admin/employees">Employee Management</a><br />
<a href="/admin/groups">Group Management</a><br />
<a href="/admin/clients">Client Management</a><br />
<a href="/admin/sla">SLA Policies</a><br />
<a href="/admin/categories">Set Categories</a><br />
<a href="/admin/logs">View Logs</a>