
@{
    ViewBag.Title = "Admin Tools";
}

<h2>Admin Tools</h2>

@if (ViewBag.ErrorMessage != null)
{
    <h5 style="color:red">@ViewBag.ErrorMessage</h5>
}
@if (ViewBag.SuccessMessage != null)
{
    <h5 style="color:blue">@ViewBag.SuccessMessage</h5>
}

@*<a href="/admin/employees">Employee Management</a><br />
<a href="/admin/groups">Group Management</a><br />
<a href="/admin/clients">Client Management</a><br />
<a href="/admin/sla">SLA Policies</a><br />
<a href="/admin/categories">Set Categories</a><br />
<a href="/admin/calls">View Calls</a><br />
<a href="/admin/logs">View Logs</a>*@



<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail alert-warning">
            <div class="caption">
                <h3>Employee Management</h3>
                <hr />
                <a href="/admin/employees" class="btn btn-primary" role="button">Go</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail alert-success">
            <div class="caption">
                <h3>Group Management</h3>
                <hr />
                <a href="/admin/groups" class="btn btn-primary" role="button">Go</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail alert-info">
            <div class="caption">
                <h3>Client Management</h3>
                <hr />
                <a href="/admin/clients" class="btn btn-primary" role="button">Go</a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail alert-success">
            <div class="caption">
                <h3>SLA Policies</h3>
                <hr />
                <a href="/admin/sla" class="btn btn-primary" role="button">Go</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail alert-info">
            <div class="caption">
                <h3>Set Categories</h3>
                <hr />
                <a href="/admin/categories" class="btn btn-primary" role="button">Go</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail alert-warning">
            <div class="caption">
                <h3>View Calls</h3>
                <hr />
                <a href="/admin/calls" class="btn btn-primary" role="button">Go</a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail alert-info">
            <div class="caption">
                <h3>View Logs</h3>
                <hr />
                <a href="/admin/logs" class="btn btn-primary" role="button">Go</a>
            </div>
        </div>
    </div>
</div>